<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <form (submit)="onSubmit($event)">
      <ion-item>
        <ion-label position="floating">Email address</ion-label>
        <ion-input type="email" id="exampleInputEmail1"></ion-input>
      </ion-item>
      <ion-text color="medium">
        <p id="emailHelp">We'll never share your email with anyone else.</p>
      </ion-text>
      
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" id="exampleInputPassword1"></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label>Check me out</ion-label>
        <ion-checkbox slot="start" id="exampleCheck1"></ion-checkbox>
      </ion-item>
      
      <ion-button type="submit" expand="full" class="ion-margin-top">Submit</ion-button>
      
      <ion-button (click)="goToRegister()" expand="full" color="secondary" class="ion-margin-top">Register</ion-button>
    </form>
  </div>
</ion-content>

